main {
    display: grid;
    grid-template-columns: 1fr;
    background-color: lavender;
    min-height: 100vh;

    .item {
        background-color: red;

        .productos {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                margin: 5px;
            }
        }

        .tituloIndex {
            margin-top: 10px;
        }
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: black;

        .logo-jabo {
            margin: 10px;

            .img-logo-jabo {
                width: 350px;
            }
        }

        .nav {
            margin: 10px;
            display: flex;

            a {
                margin: 20px;
                width: 130px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Varela Round", sans-serif;
        color: white; // Añade el color del texto para que sea visible en el fondo negro

        .cardsIndex {
            display: flex;

            .card {
                margin: 20px;
                align-items: center;

                .card-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    h2,
                    p {
                        margin: 0;
                    }

                }

                .card-img-top {
                    width: 65%;
                    height: 65%;
                    margin-top: 10px;
                }
            }
        }
    }

    .container {
        .products {
            .carts {
                .img-container {
                    .prod-img {
                        width: 300px;
                        height: 250px;
                    }
                }
            }
        }
    }

}